<div id="exp-container">
  <div id="exp-ball-container">
    <div id="exp-title" class="f-poppins">Making a bouncy ball simulator coz I can</div>
    <div id="exp-stats" class="f-poppins">
      ball_y: {{ball_y | number: '1.2-2'}}vh<br>
      ball_v: {{ball_v | number: '1.2-2'}}vh<br>
      t: {{t | number: '1.2-2'}}s
    </div>
    <div id="exp-reset" class="f-poppins" (click)="resetClicked=true; bounce(10)">Reset</div>
    <div id="exp-reset" class="f-poppins" (click)="goHome()">Home</div>
  </div>
  <div id="exp-ball"></div>
</div>