$height-width-ratio: 1.2;
$phy-content-width: min(
  calc(100vw - 16px), 
  calc((100vh - 200px)/$height-width-ratio), 
  800px
);
$phy-content-height: calc($phy-content-width*$height-width-ratio);
* {
  --bg-color: Lavender; 
  --text-color: black;
  --switch-bg-color: MidnightBlue;
  --content-bg: white;
  --dot-color: darkgrey;
  --correct-color: MediumSpringGreen;
  --wrong-color: Tomato;
  --great-job-color: black;
}
.dark-theme {
  --bg-color: rgb(16, 12, 32); 
  --text-color: Gainsboro; 
  --switch-bg-color: white;
  --content-bg: black;
  --dot-color: grey;
  --correct-color: MediumSpringGreen;
  --wrong-color: Tomato;
  --great-job-color: MediumSpringGreen;
}