$height-width-ratio: 1.1;
$phy-content-width: min(
  calc(100vw - 32px), 
  calc((100vh - 240px)/$height-width-ratio), 
  800px
);
$phy-content-height: calc($phy-content-width*$height-width-ratio);
* {
  --bg-color: Lavender; 
  --text-color: black;
  --switch-bg-color: MidnightBlue;
  --content-bg: white;
  --dot-color: darkgrey;
}
.dark-theme {
  --bg-color: rgb(7, 0, 28); 
  --text-color: Gainsboro; 
  --switch-bg-color: white;
  --content-bg: black;
  --dot-color: grey;
}