@import "../train2-styles.scss";
.t2-container {
  position: absolute;
  top: 0;
}
$title-font-size: clamp(50px, min(12vw, 9vh), 100px);
.t2-concept-title {
  color: var(--text-color);
  font-size: calc($title-font-size * 0.666);
  margin: 2vh 7vw;
  line-height: 1;
}
$ratio: 1.25;
$width: min(calc(60vh / $ratio), 86vw, 600px);
$height: calc($width * $ratio);
.t2-concept-demo-container {
  background-color: var(--concept-bg);
  box-shadow: 0 0 0 3px var(--text-color);
  height: $height;
  width: $width;
  margin-left: 7vw;
  --mask: linear-gradient(to bottom, 
    rgba(0,0,0, 0) 0%,
    rgba(0,0,0, 1) 15%,
    rgba(0,0,0, 1) 85%, 
    rgba(0,0,0, 0) 100%
  );
  -webkit-mask: var(--mask); 
  mask: var(--mask);
}
.t2-concept-demo-container-bg {
  background-color: var(--bg-color-2);
  height: $height;
  width: $width;
  margin-left: 7vw;
  margin-bottom: calc(-1 * $height);
  box-shadow: 0 0 0 3px var(--text-color);
}
.t2-nsl-line {
  position: absolute;
  width: calc($width * 0.03);
  height: calc($height * 0.94);
  background-color: var(--red-line);
  transform: translate(calc($width * 0.695), calc($height * 0.03));
  --mask: linear-gradient(to bottom, 
    rgba(0,0,0, 0) 0%,
    rgba(0,0,0, 1) 10%,
    rgba(0,0,0, 1) 90%, 
    rgba(0,0,0, 0) 100%
  );
  -webkit-mask: var(--mask); 
  mask: var(--mask);
}
.t2-nsl-station {
  position: absolute;
  width: calc($width * 0.16);
  height: calc($height * 0.06);
  background-color: var(--red-line);
  color: white;
  transform: translate(calc($width * 0.63), calc($height * 0.47));
  font-family: 'LTA-font', sans-serif;
  font-size: calc($width * 0.04);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc($height * 0.03);
  border: calc($width * 0.005) solid white;
  cursor: pointer;
}
.t2-nsl-station-name {
  position: absolute;
  width: calc($width * 0.16);
  height: calc($height * 0.06);
  font-family: 'LTA-font', sans-serif;
  font-size: calc($width * 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  transform: translate(calc($width * 0.8), calc($height * 0.47));
  cursor: pointer;
}
.t2-train {
  position: absolute;
  width: calc($width * 0.08);
  height: calc($height * 0.1);
  background-color: var(--text-color);
  border-radius: calc($height * 0.02);
  transform: translate(calc($width * 0.2), calc($height * 0.45));
  animation-name: train-move;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border: calc($width * 0.005) solid var(--concept-bg);
}
.t2-train-track {
  position: absolute;
  width: calc($width * 0.02);
  height: calc($height * 0.94);
  background-color: grey;
  transform: translate(calc($width * 0.23), calc($height * 0.03));
  --mask: linear-gradient(to bottom, 
    rgba(0,0,0, 0) 0%,
    rgba(0,0,0, 1) 10%,
    rgba(0,0,0, 1) 90%, 
    rgba(0,0,0, 0) 100%
  );
  -webkit-mask: var(--mask); 
  mask: var(--mask);
}
.t2-train-track-new {
  transform: translate(calc($width * 0.48), calc($height * 0.03));
}
.t2-train-2 {
  animation-name: train-move-2;
}
.t2-train-3 {
  animation-name: train-move-3;
}
.t2-train-new {
  transform: translate(calc($width * 0.45), calc($height * 0.45));
  animation-name: train-new-move;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.5,0,.5,.15);
  animation-iteration-count: infinite;
  border-color: var(--text-color);
  background-color: var(--train-color);
}
.t2-train-new-2 {
  animation-name: train-new-move-2;
  animation-timing-function: cubic-bezier(.49,.85,.55,1);
}
.t2-train-new-3 {
  animation-name: train-new-move-3;
  animation-timing-function: linear;
}
.t2-child-nav {
  margin: 2vh 7vw;
  line-height: 1;
}

@keyframes train-move {
  0% {
    transform: translate(calc($width * 0.2), calc($height * 1.1));
  }
  37.5% {
    transform: translate(calc($width * 0.2), calc($height * 0.45));
  }
  62.5% {
    transform: translate(calc($width * 0.2), calc($height * 0.45));
  }
  100% {
    transform: translate(calc($width * 0.2), calc($height * -0.2));
  }
}
@keyframes train-move-2 {
  0% {
    transform: translate(calc($width * 0.2), calc($height * 1.2));
  }
  37.5% {
    transform: translate(calc($width * 0.2), calc($height * 0.55));
  }
  62.5% {
    transform: translate(calc($width * 0.2), calc($height * 0.55));
  }
  100% {
    transform: translate(calc($width * 0.2),  calc($height * -0.1));
  }
}
@keyframes train-move-3 {
  0% {
    transform: translate(calc($width * 0.2), calc($height * 1));
  }
  37.5% {
    transform: translate(calc($width * 0.2), calc($height * 0.35));
  }
  62.5% {
    transform: translate(calc($width * 0.2), calc($height * 0.35));
  }
  100% {
    transform: translate(calc($width * 0.2), calc($height * -0.3));
  }
}
@keyframes train-new-move {
  0% {
    transform: translate(calc($width * 0.45), calc($height * 0.45));
  }
  100% {
    transform: translate(calc($width * 0.45), calc($height * -0.3));
  }
}
@keyframes train-new-move-2 {
  0% {
    transform: translate(calc($width * 0.45), calc($height * 1.2));
  }
  100% {
    transform: translate(calc($width * 0.45), calc($height * 0.45));
  }
}
@keyframes train-new-move-3 {
  0% {
    transform: translate(calc($width * 0.45), calc($height * 1.1));
  }
  100% {
    transform: translate(calc($width * 0.45), calc($height * -0.2));
  }
}