$kenobi-height: 100vh;
#kenobi {
  background-image: url("../../../assets/ben_kenobi.png");
  height: $kenobi-height;
  width: calc($kenobi-height * 1141 / 724);
  background-size: cover;
  animation: fade-in-left 1s ease-out;
  transform: translateX(-66vh);
  opacity: 33%;
  margin-bottom: -100vh;
}
.content {
  z-index: 1;
}
$hes-me-font-size: min(4vw, calc(1000px * 0.04));
#hes-me {
  margin: 10vh 10vw 5vh 10vw;
  animation: fade-down 1s ease-out 0.5s;
  font-size: $hes-me-font-size;
  line-height: $hes-me-font-size;
  height: calc($hes-me-font-size * 3);
}
$home-font-size: max(2vw, 2vh, 20px);
#home {
  font-size: $home-font-size;
  line-height: $home-font-size;
  width: calc($home-font-size * 2);
  height: calc($home-font-size * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: Azure;
  opacity: 50%;
  cursor: pointer;
  transition-duration: 0.2s;
  position: absolute;
  top: $home-font-size;
  left: $home-font-size;
  animation: fade-down-home 1s ease-out;
}
#home:hover {
  transform: scale(1.2);
  opacity: 100%;
}
#left-arrow {
  font-weight: bolder;
}
$history-width: min(80vw, 1000px);
.history {
  width: $history-width;
  height: calc(100vh - 10vh - ($hes-me-font-size * 3) - 5vh - 5vh);
  margin: 0 calc(90vw - $history-width) 0 10vw;
  animation: fade-down 1s ease-out 1s;
  z-index: 2;
}
@keyframes fade-in-left {
  from {
    opacity: 0%;
    transform: translateX(-100vh);
  }
  to {
    opacity: 33%;
    transform: translateX(-66vh);
  }
}
@keyframes fade-down-home {
  from {
    opacity: 0%;
    transform: translateY(-5vh);
  }
  to {
    opacity: 50%;
    transform: translateY(0);
  }
}
// ::ng-deep .circle {
//   display: none !important;
// }