<div class="container">
  <div class="content" [ngClass]="fadeOutLeft">
    <div id="kenobi"></div>
    <div id="home" (click)="goHome()" title="to Homepage">
      <span id="left-arrow" class="f-hino">←</span>
    </div>
    <div class="f-poppins f-normal" id="hes-me">
      Do I know Ben? <br> Well, of course I know him. <br> He's me.
    </div>
    <div class="history" id="history">
      <div [ngClass]="historyExit" style="width: 100%; height: 100%;">
        <app-history [years]="years"></app-history>
      </div>
    </div>
  </div>
</div>