@import "../physics-styles.scss";
.phy-content-container {
  background-color: var(--content-bg);
  height: $phy-content-height;
  width: $phy-content-width;
  margin: 8px;
  border-radius: calc($phy-content-width * 0.02);
  border: 2px solid var(--text-color);
  overflow: hidden;
  transition-duration: 0.2s;
}
.phy-content-subcontainer {
  display: flex;
  flex-direction: row;
  width: max-content;
  transition-duration: 0.5s;
  animation: phy-content-enter 0.5s ease-in-out;
}
$phy-dot-height: max(12px, $phy-content-width*0.02);
.phy-dot-container {
  height: calc($phy-dot-height*2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.phy-dot-touch-target {
  height: calc($phy-dot-height*2);
  width: calc($phy-dot-height*2);
  padding: calc($phy-dot-height*0.5);
  cursor: pointer;
}
.phy-dot-touch-target:hover {
  transform: scale(1.2);
}
.phy-dot-touch-target-active {
  transform: scale(1.2);
  cursor: context-menu;
}
.phy-dot {
  height: $phy-dot-height;
  width: $phy-dot-height;
  border-radius: 50%;
  background-color: var(--dot-color);
  transition-duration: 0.2s;
}
.phy-dot-active {
  background-color: var(--text-color);
  cursor: context-menu;
}
.phy-button-container {
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
$phy-button-font-size: max(16px, calc($phy-content-width * 0.04));
.phy-button {
  font-size: $phy-button-font-size;
  padding: 5%;
  letter-spacing: 0;
  border-radius: calc($phy-content-width * 0.02);
  min-width: 0;
}
.phy-button-flat {
  background-color: var(--text-color) !important;
  color: var(--content-bg) !important; 
}
.phy-button-stroked {
  border: 2px solid var(--text-color) !important;
  background-color: var(--content-bg) !important;
  color: var(--text-color) !important;
  padding: calc(5% - 2px);
}
.phy-content {
  height: calc($phy-content-height * 0.85 - $phy-dot-height*2);
  width: calc($phy-content-width - 6px);
  color: var(--text-color);
  padding: 0 calc($phy-content-width * 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  // animation: phy-content-enter-right 0.5s ease-out;
}
.phy-intro-title {
  font-weight: 500;
  font-size: calc($phy-content-width * 0.07);
  line-height: 1.2;
  height: calc($phy-content-width * 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  animation: phy-content-enter 0.5s ease-in-out;
}
// $phy-intro-desc-font-size: max(15px, calc($phy-content-width * 0.04));
$phy-intro-desc-font-size: calc($phy-content-width * 0.042);
.phy-intro-desc {
  font-size: $phy-intro-desc-font-size;
  line-height: 1.2;
  width: 100%;
}
li:not(:last-child) {
  margin-bottom: calc($phy-intro-desc-font-size * 0.5);
}
.phy-kettle {
  margin-top: calc($phy-content-width * 0.03);
  width: calc($phy-content-width * 0.2);
  height: calc($phy-content-width * 0.2);
  background-size: cover;
}
.phy-kettle-light {
  background-image: url("../../../assets/kettle.jpg");
}
.phy-kettle-dark {
  background-image: url("../../../assets/kettle_dark.jpg");
}
.phy-button-container .mat-icon {
  font-size: $phy-button-font-size !important;
  height: $phy-button-font-size !important;
  width: $phy-button-font-size !important;
  margin: 0 !important;
}
.phy-equation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: calc($phy-intro-desc-font-size * 1) 0;
}
.phy-joule-container {
  border-radius: 50%;
  background-color: gold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $phy-intro-desc-font-size;
  height: $phy-intro-desc-font-size;
}
.phy-joule-icon {
  font-size: calc($phy-intro-desc-font-size*0.8);
  color: black;
  position: absolute;
}
.phy-joule-moving {
  opacity: 0;
  animation: joule-moving 1s infinite linear;
}
$charging-width: 0.2;
.phy-charger {
  font-size: calc($phy-intro-desc-font-size*2);
  transform: translateX(calc(-1*$charging-width*$phy-content-width));
}
.phy-battery {
  font-size: calc($phy-intro-desc-font-size*2);
  transform: translateX(calc($charging-width*$phy-content-width));
}
.phy-tap {
  width: calc($phy-intro-desc-font-size*3);
  height: calc($phy-intro-desc-font-size*3);
  transform: translateX(calc($phy-intro-desc-font-size*-0.68));
}
.phy-joule-flow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gold;
  width: calc($phy-intro-desc-font-size*1);
  height: calc($phy-intro-desc-font-size*7);
  border-radius: calc($phy-intro-desc-font-size*0.5);
  transform: translateY(calc($phy-intro-desc-font-size*-1.8));
  z-index: 2;
}
.phy-joule-flowing {
  opacity: 0;
  animation: joule-flowing 1s infinite linear;
}
.phy-cup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: calc($phy-intro-desc-font-size*3);
  height: calc($phy-intro-desc-font-size*5);
  border-radius: 0 0 calc($phy-intro-desc-font-size*0.5) calc($phy-intro-desc-font-size*0.5);
  transform: translateY(calc($phy-intro-desc-font-size*-7.5));
  border: 2px solid var(--text-color);
  border-top: none;
}
.phy-cup-filling {
  width: 100%;
  height: 100%;
  border-radius: 0 0 
  calc($phy-intro-desc-font-size*0.5 - 2px) 
  calc($phy-intro-desc-font-size*0.5 - 2px);
  background-color: gold;
}
@keyframes phy-content-enter {
  from {
    margin-top: -1vh;
    opacity: 0.2;
  } to {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes joule-moving {
  0% {
    opacity: 0;
    transform: translateX(calc(-1*$charging-width*$phy-content-width));
  }
  20% {
    opacity: 1;
  }
  50% {
    transform: translateX(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(calc($charging-width*$phy-content-width));
  }
}
@keyframes joule-flowing {
  0% {
    opacity: 0;
    transform: translateY(calc(-3*$phy-intro-desc-font-size));
  }
  20% {
    opacity: 1;
  }
  50% {
    transform: translateY(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(calc(3*$phy-intro-desc-font-size));
  }
}