<div class="phy-content-container" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
  <ng-container [ngTemplateOutlet]="page1" *ngIf="selectedPageIndex == 0"></ng-container>
  <ng-container [ngTemplateOutlet]="page2" *ngIf="selectedPageIndex == 1"></ng-container>
  <ng-container [ngTemplateOutlet]="page3" *ngIf="selectedPageIndex == 2"></ng-container>
  <ng-container [ngTemplateOutlet]="page4" *ngIf="selectedPageIndex == 3"></ng-container>
  <div class="phy-dot-container">
    <div class="phy-dot" *ngFor="let page of pagesArray; let i = index"
    (click)="selectedPageIndex = i"
    [ngClass]="{
      'dark-theme': themeService.isDarkTheme,
      'phy-dot-active': i == selectedPageIndex
    }"></div>
  </div>
</div>
<div class="phy-button-container">
  <button mat-stroked-button class="phy-button f-poppins" 
  [ngClass]="{'dark-theme': themeService.isDarkTheme}"
  (click)="prevPage()">
    Back
  </button>
  <div class="spacer"></div>
  <button mat-stroked-button class="phy-button f-poppins" 
  [ngClass]="{'dark-theme': themeService.isDarkTheme}"
  (click)="nextPage()">
    Next
  </button>
</div>

<ng-template #page1>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-title f-merri">
      A Primer in Kinematics
    </div>
    <div class="phy-intro-desc">
      Kinematics is a branch of physics that studies the motion of bodies.
      <br><br>
      An apple falling from a tree, a satellite orbiting the Earth, an Olympic sprinter running the 100m dash - these are all bodies in motion whose geometries can be described and predicted with kinematics. Thus, kinematics is often referred to as the "geometry of motion".
      <br><br>
      In this lesson, selected fundamental topics in kinematics will be taught.
    </div>
  </div>
</ng-template>

<ng-template #page2>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-title f-merri">
      Everyday Electricity
    </div>
    <div class="phy-intro-desc">
      Electricity is quite literally coursing through your hands right now (if you're reading this on a mobile device). 
      <br><br>
      Electricity powers our modern world, yet is usually taken for granted. It is often only in its absence that we truly appreciate its necessity and the creature comforts it provides.
      <br><br>
      Given the pervasiveness of electricity, being knowledgeable with how electricity is quantified and applied in our everyday lives is greatly beneficial to everyone.
    </div>
  </div>
</ng-template>

<ng-template #page3>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-title f-merri">
      Everyday Electricity
    </div>
    <div class="phy-intro-desc">
      In this lesson, you will learn:
      <ul>
        <li>The definitions and applications of energy and power quantifiers such as Watt (W) and Kilowatt-Hour (kWh)</li>
        <li>How electrical energy is consumed (and sometimes stored) by your devices and appliances</li>
        <li>How electrical energy is delivered from the grid to your home</li>
        <li>How to read and understand your power utility bills</li>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #page4>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-title f-merri">
      Everyday Electricity
    </div>
    <div class="phy-intro-desc">
      Fret not, this lesson on "Everyday Electricity" assumes no prior knowledge, other than daily interaction with electricity such as charging and using mobile devices, or using electrical appliances in the home.
      <br><br>
      To guide us through this lesson, we will be following Dionne as she gets ready for work in the morning.
    </div>
    <img class="phy-kettle" *ngIf="!themeService.isDarkTheme" src="../../../assets/kettle.jpg">
    <img class="phy-kettle" *ngIf="themeService.isDarkTheme" src="../../../assets/kettle_dark.jpg">
  </div>
</ng-template>

<ng-template #test>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-title f-merri">
      Did you ever hear the tragedy of Darth Plagueis The Wise?
    </div>
    <div class="phy-intro-desc">
      I thought not. It's not a story the Jedi would tell you. It's a Sith legend. 
      <br><br>
      Darth Plagueis was a Dark Lord of the Sith, so powerful and so wise he could use the Force to influence the midichlorians to create life… He had such a knowledge of the dark side that he could even keep the ones he cared about from dying. The dark side of the Force is a pathway to many abilities some consider to be unnatural.
    </div>
  </div>
</ng-template>

<ng-template #test>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-title f-merri">
      He became so powerful… 
    </div>
    <div class="phy-intro-desc">
      The only thing he was afraid of was losing his power, which eventually, of course, he did. 
      <br><br>
      Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his sleep. Ironic. He could save others from death, but not himself.
    </div>
  </div>
</ng-template>