<div class="phy-content-container" [ngClass]="{'dark-theme': themeService.isDarkTheme}" (swipeleft)="nextPage()" (swiperight)="prevPage()">
  <div class="phy-intro-title f-merri" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    Everyday Electricity
  </div>
  <div class="phy-content-subcontainer" [ngStyle]="{
    'transform': 'translateX(calc(-' + 100/numPages + '%*' + selectedPageIndex + '))'
    }">
    <ng-container [ngTemplateOutlet]="page1"></ng-container>
    <ng-container [ngTemplateOutlet]="page2"></ng-container>
    <ng-container [ngTemplateOutlet]="page3"></ng-container>
  </div>
  <div class="phy-dot-container">
    <div class="phy-dot-touch-target" *ngFor="let page of pagesArray; let i = index"
    (click)="selectedPageIndex = i; setButtons()"
    [ngClass]="{'phy-dot-touch-target-active': i == selectedPageIndex}">
      <div class="phy-dot"
      [ngClass]="{'dark-theme': themeService.isDarkTheme, 'phy-dot-active': i == selectedPageIndex}"></div>
    </div>
  </div>
</div>
<div class="phy-button-container">
  <button mat-stroked-button *ngIf="!hideBack"
  class="phy-button phy-button-stroked f-poppins" 
  [ngClass]="{'dark-theme': themeService.isDarkTheme}"
  (click)="prevPage()">
    Back
  </button>
  <div class="spacer"></div>
  <button mat-flat-button *ngIf="!hideNext"
  class="phy-button phy-button-flat f-poppins" 
  [ngClass]="{'dark-theme': themeService.isDarkTheme}"
  (click)="nextPage()">
    Next
  </button>
  <button mat-flat-button *ngIf="selectedPageIndex == this.numPages-1"
  class="phy-button phy-button-flat f-poppins" 
  [ngClass]="{'dark-theme': themeService.isDarkTheme}"
  (click)="nextChapter()">
    <div style="display: flex; align-items: center;">
      Watt is Love &nbsp;
      <mat-icon>arrow_forward</mat-icon>
    </div>
  </button>
</div>

<ng-template #page1>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-desc">
      If you're reading this on a mobile device, electricity is quite literally coursing through your hands right now. 
      <br><br>
      Electricity is so integral in powering our modern world, yet it is usually taken for granted. Only in its absence do we truly appreciate its necessity and the creature comforts it provides.
      <br><br>
      Given the pervasiveness of electricity, knowing how electricity is quantified and applied in our everyday lives is greatly beneficial.
    </div>
  </div>
</ng-template>

<ng-template #page2>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-desc">
      In this lesson, you will learn:
      <ul>
        <li>The definitions and applications of energy and power quantifiers such as <strong>watt (W)</strong>, <strong>joule (J)</strong>, and <strong>kilowatt-hour (kWh)</strong></li>
        <li>How to interpret battery capacity stored in <strong>milliampere-hour (mAh)</strong></li>
        <li>How electrical energy is consumed by your devices and appliances</li>
        <li>How electrical energy is delivered from the grid to your home</li>
        <li>How to read and understand your power utility bills</li>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #page3>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-desc">
      Today's lesson on <strong>"Everyday Electricity"</strong> assumes no prior knowledge, other than basic familiarity with electricity such as charging and using mobile devices, or using electrical appliances.
      <br><br>
      In the first chapter <strong>"Watt is Love"</strong>, we will be following Dionne's shocking journey as she interacts with various electrical devices.
    </div>
    <div class="phy-kettle phy-kettle-light" *ngIf="!themeService.isDarkTheme"></div>
    <div class="phy-kettle phy-kettle-dark" *ngIf="themeService.isDarkTheme"></div>
  </div>
</ng-template>

<ng-template #archive>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-title f-merri">
      A Primer in Kinematics
    </div>
    <div class="phy-intro-desc">
      Kinematics is a branch of physics that studies the motion of bodies.
      <br><br>
      An apple falling from a tree, a satellite orbiting the Earth, an Olympic sprinter running the 100m dash - these are all bodies in motion whose geometries can be described and predicted with kinematics. Thus, kinematics is often referred to as the "geometry of motion".
      <br><br>
      In this lesson, selected fundamental topics in kinematics will be taught.
    </div>
  </div>
</ng-template>

<ng-template #archive>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-title f-merri">
      Did you ever hear the tragedy of Darth Plagueis The Wise?
    </div>
    <div class="phy-intro-desc">
      I thought not. It's not a story the Jedi would tell you. It's a Sith legend. 
      <br><br>
      Darth Plagueis was a Dark Lord of the Sith, so powerful and so wise he could use the Force to influence the midichlorians to create life… He had such a knowledge of the dark side that he could even keep the ones he cared about from dying. The dark side of the Force is a pathway to many abilities some consider to be unnatural.
    </div>
  </div>
</ng-template>

<ng-template #archive>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-title f-merri">
      He became so powerful… 
    </div>
    <div class="phy-intro-desc">
      The only thing he was afraid of was losing his power, which eventually, of course, he did. 
      <br><br>
      Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his sleep. Ironic. He could save others from death, but not himself.
    </div>
  </div>
</ng-template>