#content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: black;
  gap: 24px;
}
#setting-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
#preset-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: -16px;
}
.button-green {
  background-color: ForestGreen;
  color: white;
}
.button-orange {
  background-color: OrangeRed;
  color: white;
}
.button-grey {
  background-color: grey;
  color: white;
}
.velocity-pad {
  width: 100%; 
  aspect-ratio: 1;
  border: 1px solid #ccc; 
  touch-action: none;
  display: block; /* ensures getBoundingClientRect matches CSS size */
}
.pad-wrap { display:inline-block; border:1px solid #ccc; width:100%; height:100%;}
canvas { display:block; width:100%; height:100%; padding:0; border:0; }