@use "../train2-styles.scss" as *;
.t2-container {
  position: absolute;
  top: 0;
}
$title-font-size: clamp(50px, min(12vw, 9vh), 100px);
.t2-analysis-title {
  color: var(--text-color);
  font-size: calc($title-font-size * 0.666);
  margin: 2vh 7vw;
  line-height: 1;
}
$ratio: 1.25;
$width: min(calc(65vh / $ratio), 86vw, 800px);
$height: calc($width * $ratio);
.t2-analysis-demo-container {
  background-color: var(--concept-bg);
  box-shadow: 0 0 0 3px var(--text-color);
  height: $height;
  width: $width;
  margin-left: 7vw;
  --mask: linear-gradient(to bottom, 
    rgba(0,0,0, 0) 0%,
    rgba(0,0,0, 1) 15%,
    rgba(0,0,0, 1) 85%, 
    rgba(0,0,0, 0) 100%
  );
  -webkit-mask: var(--mask); 
  mask: var(--mask);
}
.t2-analysis-demo-container-bg {
  background-color: var(--bg-color-2);
  height: $height;
  width: $width;
  margin-left: 7vw;
  margin-bottom: calc(-1 * $height);
  box-shadow: 0 0 0 3px var(--text-color);
}