@import "../../../styles.scss";
#body {
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
  padding: calc($home-font-size * 4) 2vw;
}
#sand-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-image: url("../../../assets/sand-wallpaper.jpeg");
  background-size: cover;
  background-position: min(0px, calc(100vw - 1470px/2)) 0;
  animation: fade-out 1s ease-out;
  opacity: 0%;
}
#ent-container {
  height: calc(100vh - calc($home-font-size * 4) - 3vh);
  width: calc(96vw - 4px);
  border-radius: 8px;
  border: 2px solid grey;
  background-color: white;
  animation: fade-down 1s ease-out 0.5s;
}
#ent-toolbar {
  background-color: white;
  border-radius: 6px 6px 0 0;
  border-bottom: 2px solid grey;
  height: 64px;
}
#ent-toolbar-title {
  margin-left: 8px;
  font-size: 24px;
}
#stick {
  height: 28px;
  width: 4px;
  background-color: DodgerBlue;
  border-radius: 2px;
}
@keyframes fade-out {
  0% {
    opacity: 100%;
    width: 100vw;
    height: 100vh;
  }
  99% {
    opacity: 0%;
    width: 100vw;
    height: 100vh;
  }
  100% {
    opacity: 0%;
    width: 0;
    height: 0;
  }
}