<div class="train-dialog-container">
  <div class="train-dialog-toolbar f-poppins">
    <img src="assets/train_icon.svg" style="height: 40px; margin: 12px;">
    Train?
    <img src="assets/train_icon.svg" style="height: 40px; margin: 12px; transform: rotateY(180deg);">
    <button mat-icon-button class="train-dialog-close" (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="train-dialog-text f-poppins">
    This is an animation of a revolutionary train system which I designed myself 🙃.
    <br><br>
    The enhanced efficiency is achieved through:
    <ol>
      <li>Always maintaining trains going at full speed, saving time on unnecessary decelerating and accelerating.</li>
      <li><b>Arrivals</b>: Decoupling then decelerating only the <b>end</b> carriages.</li>
      <li><b>Departures</b>: Accelerating carriages to couple with the <b>front</b> of the incoming train.</li>
      <li>Passengers boarding the front carriages, then moving to carriages with pre-defined stops.</li>
      <li>Train stations having custom carriage capacities to accomodate variable traffic.</li>
    </ol>
    I plan to enhance the simulation and do some concrete statistical analysis based on the Singapore MRT system. Stay tuned! 👀
  </div>
</div>