@use "../train2-styles.scss" as *;
.t2-home-container {
  position: absolute;
  top: 0;
}
$snowflake-width: min(50vh, 96vw);
.snowflake {
  position: absolute;
  top: 2vh;
  left: 2vw;
  background-image: url("snowflake-hd.png");
  background-size: $snowflake-width $snowflake-width;
  background-repeat: no-repeat;
  // background-position-x: 2%;
  // background-position-y: 10%;
  filter: blur(5px);
  height: $snowflake-width;
  width: $snowflake-width;
  opacity: 30%;
}
.t2-back-arrow {
  box-shadow: 0 0 0 2px var(--text-color) inset;
  color: var(--text-color);
  margin: 8px 16px;
  background: transparent;
}
.t2-back-arrow:hover {
  transform: scale(1.1);
}
.t2-back-arrow:active {
  transform: scale(0.9);
}
.t2-title-container {
  margin: 12vh 7vw;
  line-height: 1;
}
$title-font-size: clamp(50px, min(12vw, 9vh), 100px);
.t2-title {
  color: var(--text-color);
  font-size: $title-font-size;
  margin-bottom: 5vh;
}
.t2-nav-button {
  color: var(--bg-color-2);
  font-size: calc($title-font-size*0.5);
  background: linear-gradient(90deg, var(--bg-color) 50%, var(--text-color) 50%);
	background-size: 201% 100%;
  background-position: 100% 0;
  width: fit-content;
  padding: calc($title-font-size*0.2);
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  &:hover {
    transform: scale(1.1);
    background-position: 0 0;
    color: var(--text-color);
  }
  &:active {
    transform: scale(0.9);
  }
  &:not(:last-child) {
    margin-bottom: 1vh;
  }
}
.t2-child-nav {
  margin: 2vh 7vw;
  line-height: 1;
}
.snowflake-fade-up {
  animation: snowflake-fade-up 0.5s ease-in-out;
}
.snowflake-fade-out {
  animation: snowflake-fade-out 0.5s ease-in-out;
}
.snowflake-rotate {
  animation: rotate 12s infinite linear, snowflake-fade-up 0.5s linear;
}
@keyframes nav-hover {
  0% {
    background-position: 100% 0;
  } 
  100% {
    background-position: 0 0;
  } 
}
@keyframes snowflake-fade-up {
  from { 
    transform: translateY(1.5vh) rotate(0);
    opacity: 0;
  }
  to { 
    transform: translateY(0) rotate(15deg);
    opacity: 30%;
  }
}
@keyframes snowflake-fade-out {
  0% {
    transform: translateY(0);
    opacity: 100%;
  } 
  100% {
    transform: translateY(-1.5vh);
    opacity: 0;
  } 
}
@keyframes rotate {
  from {
    transform: rotate(0);
  } to {
    transform: rotate(360deg);
  }
}