<div class="history-container">
  <div class="history-item flex-row">
    <div class="history-text f-poppins">
      Since 2018, I have been employed at DBS Bank as a software engineer. Thoughout my tenure, I have specialised as a full-stack engineer, data visualisation expert, test engineer, and most recently, a UI/UX engineer. I have made vast contributions to the UI/UX development space in DBS, the most impactful being the founding of a bank-wide component library for enterprise products. You may catch a glimpse of how the component library work by heading to Projects > Enterprise, or by accessing the link 
      <a routerLink="/enterprise" routerLinkActive="active">here</a>.
    </div>
    <div class="logo">DBS Bank</div>
  </div>
  <!-- <div class="history-item flex-row">
    <div class="logo">Hello there</div>
    <div class="history-text-alt f-poppins">
      Did you ever hear the tragedy of Darth Plagueis The Wise? I thought not. It's not a story the Jedi would tell you. It's a Sith legend. Darth Plagueis was a Dark Lord of the Sith, so powerful and so wise he could use the Force to influence the midichlorians to create life… He had such a knowledge of the dark side that he could even keep the ones he cared about from dying. The dark side of the Force is a pathway to many abilities some consider to be unnatural. He became so powerful… the only thing he was afraid of was losing his power, which eventually, of course, he did. Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his sleep. Ironic. He could save others from death, but not himself.
    </div>
  </div>
  <div class="history-item flex-row">
    <div class="history-text f-poppins">
      Did you ever hear the tragedy of Darth Plagueis The Wise? I thought not. It's not a story the Jedi would tell you. It's a Sith legend. Darth Plagueis was a Dark Lord of the Sith, so powerful and so wise he could use the Force to influence the midichlorians to create life… He had such a knowledge of the dark side that he could even keep the ones he cared about from dying. The dark side of the Force is a pathway to many abilities some consider to be unnatural. He became so powerful… the only thing he was afraid of was losing his power, which eventually, of course, he did. Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his sleep. Ironic. He could save others from death, but not himself.
    </div>
    <div class="logo">Hello there</div>
  </div> -->
  <div style="height: 25vh; width: 100%;"></div>
</div>