<div class="container blur-image" [ngClass]="unblur">
</div>
<div class="content" [ngClass]="fadeOutLeft">
  <div id="kenobi"></div>
  <div id="home" (click)="goHome()" title="to Homepage">
    <span id="left-arrow" class="f-hino">←</span>
  </div>
  <div class="flex-row" style="align-items: center; height: 18vh; margin-top: 7vh;">
    <div class="f-poppins f-normal" id="hes-me">
      Do I know Ben? <br> Well, of course I know him. <br> He's me.
      <!-- About -->
    </div>
    <div class="profile-pic" id="pfp"></div>
  </div>
  <div class="history" id="history">
    <div [ngClass]="historyExit" style="width: 100%; height: 100%;">
      <app-history2></app-history2>
    </div>
  </div>
</div>