$kenobi-height: 100vh;
#kenobi {
  background-image: url("../../../assets/ben_kenobi.png");
  height: $kenobi-height;
  width: calc($kenobi-height * 1141 / 724);
  background-size: cover;
  animation: kenobi 3s ease-out;
  transform: translateX(-66vh);
  opacity: 0%;
  margin-bottom: -100vh;
}
.content {
  z-index: 1;
  position: absolute;
  top: 0;
  overflow: hidden;
}
$hes-me-font-size: min(6vw, calc(1000px * 0.04));
#hes-me {
  margin: 0 5vw 0 10vw;
  animation: fade-down 1s ease-out 0.5s;
  font-size: $hes-me-font-size;
  line-height: $hes-me-font-size;
  // height: calc($hes-me-font-size * 3);
  height: auto;
}
$history-width: min(80vw, 1000px);
.history {
  // width: $history-width;
  width: 100vw;
  height: 75vh;
  // margin: 0 calc(90vw - $history-width) 0 10vw;
  margin: 0;
  animation: fade-down 1s ease-out 1s;
  z-index: 2;
}
.blur-image {
  filter: blur(20px);
  animation: blur-image 1s ease-out;
}
.unblur-image {
  animation: unblur-image 0.666s ease-out;
}
$logo-diameter: min(12vh, 30vw, calc(1000px * 0.3));
.profile-pic {
  background-image: url("../../../assets/profile pic.png");
  height: $logo-diameter;
  width: $logo-diameter;
  min-width: $logo-diameter;
  min-height: $logo-diameter;
  border-radius: 50%;
  background-size: cover;
  animation: fade-down 1s ease-out 0.5s;
  margin-right: 5vw;
}
@keyframes kenobi {
  0% {
    opacity: 0%;
    transform: translateX(-100vh);
  }
  33% {
    opacity: 33%;
    transform: translateX(-66vh);
  }
  100% {
    opacity: 0%;
  }
}
@keyframes blur-image {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(20px);
  }
}
@keyframes unblur-image {
  from {
    filter: blur(20px);
  }
  to {
    filter: blur(0);
  }
}