<div class="gg-container">
  <canvas id="gg-canvas" 
  (click)="onMouseClick($event)"></canvas>
  <div class="gg-button-container">
    <button mat-mini-fab color="primary"
    [title]=" animationId ? 'Pause' : 'Play' " (click)="toggleAnimation()">
      <mat-icon>{{animationId ? 'pause' : 'play_arrow'}}</mat-icon>
    </button>
    <ng-container *ngFor="let item of [].constructor(3); let i = index">
      <!-- stupid disabled button bugging out >:( -->
      <button mat-mini-fab *ngIf="presetActive == i+1"
      style="background-color: grey; cursor: not-allowed;">
        <span class="gg-icon-number">{{i+1}}</span>
      </button>
      <button mat-mini-fab color="accent" (click)="initCelestialBodies(i+1)"
      *ngIf="presetActive != i+1">
        <span class="gg-icon-number">{{i+1}}</span>
      </button>
    </ng-container>
  </div>
</div>