<div class="container">
  <div class="content" [ngClass]="contentClass">
    
    <div class="intro f-poppins f-normal" id="hello-there">
      Hello there!
    </div>
    
    <div class="intro f-poppins f-bold" id="my-name">
      My name is <span class="f-xbold">{{name}}</span>
    </div>

    <span class="flex-row desc-row">
      <div class="desc f-poppins f-normal" id="i-am">
        I am a <span class="f-xbold">{{descLine1[0]}}</span>
      </div>
      <div class="desc f-poppins f-bold" id="desc1">
        ,&nbsp;{{descLine1[1]}},
      </div>
    </span>
    
    <span class="flex-row desc-row">
      @for (item of descLine2; track item; let i = $index) {
        <div [id]="'desc' + (i+2)" class="desc f-poppins">
          {{item}},&nbsp;
        </div>
      }
    </span>
    
    <span class="flex-row desc-row">
      @for (item of descLine3; track item; let i = $index) {
        <div [id]="'desc' + (i+4)" class="desc f-poppins">
          {{item}}@if (i != 4) {,&nbsp;}
        </div>
      }
    </span>

    <div style="display: flex;">
      <div class="links-container flex-col f-merri">
        <div class="link" id="link-about" (click)="goToRoute('about')">About</div>
        <div class="link" id="link-projects" (click)="goToRoute('projects')">Projects</div>
        <div class="link" id="link-contact" (click)="goToRoute('contact')">Contact</div>
      </div>
    </div>
    
  </div>
  <div class="circle"></div>
</div>