@if (tableData.length > 0) {
  <div class="table-container">
    <table class="native-table">
      <thead>
        <tr>
          @for (col of columns; track col) {
            <th (click)="sortTable(col)" class="sortable-header">
              <div class="header-content">
                <span>{{col}}</span>
                <mat-icon class="sort-icon">
                  {{ sortColumn === col ? (sortAscending ? 'arrow_upward' : 'arrow_downward') : 'unfold_more' }}
                </mat-icon>
              </div>
            </th>
          }
          <th class="actions-col-header">Actions</th>
        </tr>
      </thead>
      
      <tbody>
        @for (row of tableData; track row.ID) {
          <tr [ngStyle]="{'background-color': row.colour}">
            @for (col of columns; track col) {
              <td [ngStyle]="{'min-width': col != 'ID' ? '140px' : '100px'}">
                
                @if (!row.edit || col == 'ID') {
                  <span>{{row[col]}}</span>
                }
                
                @if (row.edit && col != 'ID') {
                  <input type="text" [(ngModel)]="row[col]" class="native-input"/>
                }
                
              </td>
            }
            
            <!-- Actions Column -->
            <td class="actions-col">
              <!-- Flexbox moved to inner div -->
              <div class="actions-flex-container" [ngStyle]="{
                'flex-direction': innerWidth < 800 ? 'column' : 'row',
                'height': innerWidth < 800 ? '120px' : '80px'
              }">
              @if (!editing) {
                <button mat-mini-fab color="primary" title="Edit Row"
                [ngStyle]="{'margin': innerWidth < 800 ? '0 0 8px 0' : '0 8px 0 0'}" (click)="edit(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="accent" title="Delete Row" (click)="delete(row)">
                <mat-icon>delete</mat-icon>
              </button>
            }
            
            @if (row.edit) {
              <button mat-mini-fab color="primary" title="Save Row"
              [ngStyle]="{'margin': innerWidth < 800 ? '0 0 8px 0' : '0 8px 0 0'}" (click)="save()">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-mini-fab color="accent" title="Cancel Editing" (click)="cancel()">
              <mat-icon>cancel</mat-icon>
            </button>
          }
        </div>
      </td>
    </tr>
  }
</tbody>
</table>
</div>
}