#content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: black;
  gap: 24px;
}
#setting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}
#preset-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: -16px;
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, 1fr);    /* 2 rows */
  gap: 10px; /* optional spacing */
}

.grid-item {
  padding: 12px;
}
.grid-item-0 {
  background-color: PowderBlue;
}
.grid-item-1 {
  background-color: Pink;
}
.grid-item-2 {
  background-color: Thistle;
}
mat-form-field {
  margin-bottom: -20px;
}