#gg-canvas {
  background-color: rgb(6, 3, 15);
  cursor: crosshair;
  will-change: transform;
  position: absolute;
  top: 0;
}
.gg-icon-number {
  font-weight: bold;
  font-size: 16px;
}
.gg-toolbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 12px;
  gap: 8px;  
  position: absolute;
  top: 0;
  z-index: 1;
  background: transparent;
}
.gg-toolbar-slider {
  top: unset;
  bottom: 5%;
  justify-content: center;
  align-items: center;
  padding: 0 max(5%, 32px);
  gap: 16px;
}
.gg-fps-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.gg-fps {
  font-size: 16px;
  color: limegreen;
  font-family: 'Cambria Math';
}
::ng-deep .mdc-button__label {
  display: flex;
}
.button-green {
  background-color: ForestGreen;
  color: white;
}
.button-orange {
  background-color: OrangeRed;
  color: white;
}
.button-grey {
  background-color: grey;
  color: white;
}