<div class="phy-content-container" [ngClass]="{'dark-theme': themeService.isDarkTheme}" (swipeleft)="nextPage()" (swiperight)="prevPage()">
  <div class="phy-intro-title f-merri" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    Watt is Love
  </div>
  <div class="phy-content-subcontainer" [ngStyle]="{
    'transform': 'translateX(calc(-' + 100/numPages + '%*' + selectedPageIndex + '))'
    }">
    <ng-container [ngTemplateOutlet]="page1"></ng-container>
    <ng-container [ngTemplateOutlet]="page2"></ng-container>
    <ng-container [ngTemplateOutlet]="page3"></ng-container>
  </div>
  <div class="phy-dot-container">
    <div class="phy-dot-touch-target" *ngFor="let page of pagesArray; let i = index"
    (click)="selectedPageIndex = i; setButtons()"
    [ngClass]="{'phy-dot-touch-target-active': i == selectedPageIndex}">
      <div class="phy-dot"
      [ngClass]="{'dark-theme': themeService.isDarkTheme, 'phy-dot-active': i == selectedPageIndex}"></div>
    </div>
  </div>
</div>
<div class="phy-button-container">
  <button mat-stroked-button *ngIf="selectedPageIndex == 0"
  class="phy-button phy-button-stroked f-poppins" 
  [ngClass]="{'dark-theme': themeService.isDarkTheme}"
  (click)="prevChapter()">
    <mat-icon>arrow_back</mat-icon>
    &nbsp; Introduction
  </button>
  <button mat-stroked-button *ngIf="!hideBack"
  class="phy-button phy-button-stroked f-poppins" 
  [ngClass]="{'dark-theme': themeService.isDarkTheme}"
  (click)="prevPage()">
    Back
  </button>
  <div class="spacer"></div>
  <button mat-flat-button *ngIf="!hideNext"
  class="phy-button phy-button-flat f-poppins" 
  [ngClass]="{'dark-theme': themeService.isDarkTheme}"
  (click)="nextPage()">
    Next
  </button>
  <button mat-flat-button *ngIf="selectedPageIndex == this.numPages-1"
  class="phy-button phy-button-flat f-poppins" 
  [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div style="display: flex; align-items: center;">
      Baby don't Hertz me &nbsp;
      <mat-icon>arrow_forward</mat-icon>
    </div>
  </button>
</div>

<ng-template #page1>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-desc">
      <!-- <div [mathjax]="content"></div>
      <div [mathjax]="einstein"></div> -->
      Like most college students, Dionne charges her mobile phone overnight after a long day of use. 
      <br><br>
      While doing so, she notices that the charging brick is rated for 25W, and the battery capacity is 3000mAh. 
      <br><br>
      Dionne recalls learning in high school that <strong>watt(W)</strong> is a unit for power, where power is the rate of change of energy measured in <strong>joules(J)</strong>. 
      <br><br>
      In all, 1 watt is equivalent to 1 joule per second.
      <div class="phy-equation">
        <div [mathjax]="watt"></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #page2>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-desc">
      But how does 25 joules per second even relate to the battery capacity of 3000mAh? 
      <br><br>
      It would certainly make more sense if the battery capacity was measured in joules instead, Dionne thought. If so, the total charging time would simply be capacity divided by wattage.
      <br><br>
      As we will uncover in the later pages, there turns out to be a rather convoluted way to indirectly convert <strong>mAh</strong> to <strong>J</strong>. 
    </div>
  </div>
</ng-template>

<ng-template #page3>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-desc">
      Before attempting to convert mAh to J, Dionne wanted to first estimate the battery capacity in joules.
      <br><br>
      Starting with a battery percentage of 25%, Dionne records that it takes approximately 90 minutes to fully charge.
      <br><br>
      Can you estimate the battery capacity in joules?
    </div>
  </div>
</ng-template>