@use "../grav-styles" as *;
.grav-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fade-in 0.5s ease-in-out;
  transition-duration: 0.2s;
}
.grav-toolbar {
  background-color: var(--bg-color) !important;
  height: 64px;
  transition-duration: 0.2s;
  padding: 0 8px;
}
.grav-menu-button {
  color: var(--text-color);
  margin-right: min(3vw, 56px); // to make it same width as night mode button
}
.grav-title {
  color: var(--text-color);
  font-size: clamp(18px, 3vw, 32px);
}
.grav-subtitle {
  color: var(--text-color);
  font-size: clamp(14px, 2vw, 24px);
  line-height: 1.5;
}
.grav-stats {
  color: var(--text-color);
  width: $grav-content-width;
  display: flex;
  flex-direction: row;
  padding: 1%;
  position: absolute;
  opacity: 80%;
  z-index: 66;
  font-size: clamp(12px, 2vw, 18px);
  line-height: 1.2;
}
.grav-dark-mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--switch-bg-color);
}
.grav-content-container {
  background-color: var(--content-bg);
  height: $grav-content-height;
  width: $grav-content-width;
  margin: 8px;
  border-radius: calc($grav-content-width * 0.02);
  border: 2px solid var(--text-color);
  overflow: hidden;
  transition-duration: 0.2s;
}
$sun-radius: calc($grav-content-width*0.05);
$earth-radius: calc($grav-content-width*0.02);
.grav-sun {
  width: calc($sun-radius*2);
  height: calc($sun-radius*2);
  background-color: gold;
  border-radius: 50%;
  border: 2px solid var(--text-color);
  position: absolute;
  margin-left: calc(-1*$sun-radius);
  margin-top: calc(-1*$sun-radius);
}
.grav-earth {
  width: calc($earth-radius*2);
  height: calc($earth-radius*2);
  background-color: DeepSkyBlue;
  border-radius: 50%;
  border: 2px solid var(--text-color);
  position: absolute;
  margin-left: calc(-1*$earth-radius);
  margin-top: calc(-1*$earth-radius);
}
.grav-earth-stats {
  color: var(--text-color);
  margin-top: calc(2*$earth-radius);
  margin-left: calc(-1*$earth-radius);
  width: clamp(100px, 20vw, 160px);
  position: absolute;
  font-size: clamp(10px, 2vw, 16px);
  line-height: 1.1;
  opacity: 80%;
}
.grav-sun-stats {
  margin-top: calc(2*$sun-radius);
  margin-left: 0;
}
.grav-slider {
  width: calc($grav-content-width*0.9);
  margin: calc($grav-content-width*0.02) 0;
}
.grav-button-container {
  width: $grav-content-width;
  display: flex;
}
$grav-button-font-size: max(20px, calc($grav-content-width * 0.04));
.grav-button {
  font-size: $grav-button-font-size;
  padding: calc($grav-button-font-size*1);
  letter-spacing: 0;
  border-radius: calc($grav-content-width * 0.02);
  min-width: 0;
  height: 48px !important;
}
.grav-button-flat {
  background-color: var(--text-color) !important;
  color: var(--content-bg) !important; 
}
.grav-button-stroked {
  border: 2px solid var(--text-color) !important;
  background-color: var(--content-bg) !important;
  color: var(--text-color) !important;
  padding: calc($grav-button-font-size*1 - 2px);
}
.grav-menu-radio {
  margin: 0 !important;
  font-weight: bold;
  color: MidnightBlue !important;
}
.grav-menu-exit {
  margin: 0 !important;
  transform: rotate(180deg);
  color: Firebrick !important;
}
.grav-play-button {
  margin: 0 !important;
  transform: scale(2);
}
@keyframes fade-in {
  from {
    transform: translateY(-2vh);
    opacity: 0.2;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}