<div class="container">
  <div class="intro f-poppins f-normal" id="hello-there">
    Hello there!
  </div>
  <div class="intro f-poppins f-bold" id="my-name">
    My name is <span class="f-xbold">Benny</span>
  </div>
  <span class="flex-row">
    <div class="desc f-poppins f-normal" id="i-am">
      I am a <span class="f-xbold">UX Designer</span>
    </div>
    <div class="desc f-poppins f-normal" id="data-sci">
      ,&nbsp; Data Scientist,
    </div>
  </span>
  <span class="flex-row">
    <div class="desc f-poppins f-xbold" id="physicist">
      Physicist
    </div>
    <div class="desc f-poppins f-normal" id="soft-eng">
      ,&nbsp; Software Engineer,
    </div>
    <div class="desc f-poppins f-xbold" id="inventor">
      &nbsp; Inventor
    </div>
    <div class="desc f-poppins f-normal" id="philosopher">
      ,&nbsp; Philosopher
    </div>
  </span>
  <div class="links-container flex-col f-hino">
    <div class="link">About</div>
    <div class="link">Projects</div>
    <div class="link">Contact</div>
  </div>
  <a class="f-poppins background-credit" target="_blank"
  href="https://wallpaper.mob.org/pc/image/earth-beach-sand-910039.html">
    background credit
  </a>
  <div class="circle"></div>
</div>