@import "../physics-styles.scss";
.phy-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fade-in 0.5s ease-in-out;
  transition-duration: 0.2s;
}
.phy-toolbar {
  background-color: var(--bg-color) !important;
  height: 64px;
  transition-duration: 0.2s;
  padding: 0 8px;
}
.phy-menu-button {
  color: var(--text-color);
}
.phy-dark-mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--switch-bg-color);
}
.phy-menu-radio {
  margin: 0 !important;
  font-weight: bold;
  color: DarkSlateBlue !important;
}
.phy-menu-exit {
  margin: 0 !important;
  transform: rotate(180deg);
  color: Firebrick !important;
}
@keyframes fade-in {
  from {
    transform: translateY(-2vh);
    opacity: 0.2;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}