// Font //
.f-poppins {
  font-family: 'Poppins', sans-serif;
}
.f-hino {
  font-family: 'Hina Mincho', serif;
}
.f-light {
  font-weight: 300;
}
.f-normal {
  font-weight: 400;
}
.f-bold {
  font-weight: 500;
}
.f-xbold {
  font-weight: 700;
}

// Misc //
body, html {
  margin: 0;
  overflow: hidden;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}