<div class="phy-content-container" [ngClass]="{'dark-theme': themeService.isDarkTheme}" (swipeleft)="nextPage()" (swiperight)="prevPage()">
  <div class="phy-intro-title f-merri" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    Battery, don't hurt me
  </div>
  <div class="phy-content-subcontainer" [ngStyle]="{
    'transform': 'translateX(calc(-' + 100/numPages + '%*' + selectedPageIndex + '))'
    }">
    <ng-container [ngTemplateOutlet]="page1"></ng-container>
    <!-- <ng-container [ngTemplateOutlet]="page2a"></ng-container> -->
    <ng-container [ngTemplateOutlet]="page2b"></ng-container>
    <ng-container [ngTemplateOutlet]="page3"></ng-container>
    <ng-container [ngTemplateOutlet]="page4"></ng-container>
    <ng-container [ngTemplateOutlet]="page5"></ng-container>
    <ng-container [ngTemplateOutlet]="page6"></ng-container>
    <!-- <ng-container [ngTemplateOutlet]="page7a"></ng-container> -->
    <ng-container [ngTemplateOutlet]="page7b"></ng-container>
    <ng-container [ngTemplateOutlet]="page8"></ng-container>
    <ng-container [ngTemplateOutlet]="page9"></ng-container>
  </div>
  <div class="phy-dot-container">
    <div class="phy-dot-touch-target" *ngFor="let page of pagesArray; let i = index"
    (click)="selectedPageIndex=i; setButtons()"
    [ngClass]="{'phy-dot-touch-target-active': i == selectedPageIndex}">
      <div class="phy-dot"
      [ngClass]="{'dark-theme': themeService.isDarkTheme, 'phy-dot-active': i == selectedPageIndex}"></div>
    </div>
  </div>
</div>
<div class="phy-button-container">
  <button mat-stroked-button *ngIf="selectedPageIndex == 0"
  class="phy-button phy-button-stroked f-poppins" 
  [ngClass]="{'dark-theme': themeService.isDarkTheme}"
  (click)="prevChapter()">
    <mat-icon>arrow_back</mat-icon>
    &nbsp; Watt is Love
  </button>
  <button mat-stroked-button *ngIf="!hideBack"
  class="phy-button phy-button-stroked f-poppins" 
  [ngClass]="{'dark-theme': themeService.isDarkTheme}"
  (click)="prevPage()">
    Back
  </button>
  <div class="spacer"></div>
  <button mat-flat-button *ngIf="!hideNext"
  class="phy-button phy-button-flat f-poppins" 
  [ngClass]="{'dark-theme': themeService.isDarkTheme}"
  (click)="nextPage()">
    Next
  </button>
  <button mat-flat-button *ngIf="selectedPageIndex == this.numPages-1"
  class="phy-button phy-button-flat f-poppins" 
  [ngClass]="{'dark-theme': themeService.isDarkTheme}"
  (click)="nextChapter()">
    <div style="display: flex; align-items: center;">
      Unlimited Power! &nbsp;
      <mat-icon>arrow_forward</mat-icon>
    </div>
  </button>
</div>

<ng-template #page1>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-desc">
      Dionne stares at the charging brick rated <strong>25W</strong>, then at the phone battery rated <strong>5000mAh</strong>, then back at the charging brick again.
      <div class="phy-equation">
        <span style="font-size: 200%;">🤷🏻‍♀️📱</span>
      </div>
      It would make <em>much</em> more sense if the battery capacity was measured in joules instead, she thought. 
      <br><br>
      If so, the capacity could easily be calculated by multiplying wattage with charging time.
      <br><br>
      As we will discover later, there turns out to be a rather convoluted way to indirectly convert <strong>mAh</strong> to <strong>J</strong>. 
    </div>
  </div>
</ng-template>

<ng-template #page2a>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-desc">
      Before attempting to convert <strong>mAh</strong> to <strong>J</strong>, Dionne wants to estimate the battery capacity in joules.
      <br><br>
      Starting with a battery level of <strong>12%</strong> and using the <strong>25W</strong> charger, Dionne records that it takes approximately <strong>40 minutes</strong> to fully charge.
      <br><br>
      Can you calculate the battery capacity in joules? (Rounded to the nearest thousand)
      <br><br>
      <mat-grid-list cols="2" rowHeight="3:1">
        <mat-grid-tile *ngFor="let option of answer_options; let i = index">
          <button mat-flat-button
          class="phy-button phy-button-flat f-poppins" 
          [ngClass]="{
            'dark-theme': themeService.isDarkTheme,
            'phy-correct-ans': i == correct_answer && question_answered,
            'phy-wrong-ans': i == picked_answer && i != correct_answer && question_answered
          }"
          [disabled]="question_answered"
          (click)="on_answer(i)">
            {{option}}
          </button>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="phy-great-job" *ngIf="picked_answer == correct_answer"
        [ngClass]="{'dark-theme': themeService.isDarkTheme}">
          🥳 <em>Great job!</em> 🎉
      </div>
      <div class="phy-bad-job" *ngIf="picked_answer!=undefined && picked_answer !== correct_answer"
        [ngClass]="{'dark-theme': themeService.isDarkTheme}">
          <em>68000J was the right answer</em>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #page2b>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-desc">
      Before attempting to convert <strong>mAh</strong> to <strong>J</strong>, Dionne wants to estimate the battery capacity in <strong>J</strong>.
      <br><br>
      Starting with a battery level of <strong>12%</strong> and using the <strong>25W</strong> charger, Dionne records that it takes approximately <strong>40 minutes</strong> to fully charge.
      <div class="phy-equation">
        <i class="material-icons phy-charger">electrical_services</i>
        <!-- <ng-container *ngIf="battery_percent != 100 && battery_percent != 12"> -->
        <ng-container *ngFor="let _ of charging_array; let i = index">
          <div class="phy-joule-container phy-joule-moving"
          [ngStyle]="{'animation-delay': i*0.14 + 's', 'animation-duration': '0.84s', 'position': 'absolute'}">
            <i class="material-icons phy-joule-icon">electric_bolt</i>
          </div>
        </ng-container>
        <div class="phy-charging-blocker" [ngClass]="{'dark-theme': themeService.isDarkTheme}"
        *ngIf="battery_percent == 100 || battery_percent == 12"></div>
        <div class="phy-battery-2">
          <div class="phy-battery-2-lid" [ngClass]="{'dark-theme': themeService.isDarkTheme}"></div>
          <div class="phy-battery-2-body" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
            <div class="phy-battery-2-filler" [ngStyle]="{'height': battery_percent + '%', 
            'box-shadow': themeService.isDarkTheme ? '0 0 0 2px black inset' : 'none'}"></div>
            <div class="phy-battery-2-percent" [ngStyle]="{'text-shadow': themeService.isDarkTheme ? '-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000' : 'none'}">
              {{battery_percent}}%
            </div>
          </div>
        </div>
      </div>
      <div class="phy-equation phy-charge-timer">{{charge_timer}}&nbsp;<em>min</em></div>
      Can you calculate the battery capacity in joules? (Rounded to the nearest thousand)
      <br><br>
      <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile *ngFor="let option of answer_options; let i = index">
          <button mat-flat-button
          class="phy-button phy-button-flat f-poppins" 
          [ngClass]="{
            'dark-theme': themeService.isDarkTheme,
            'phy-correct-ans': i == correct_answer && question_answered,
            'phy-wrong-ans': i == picked_answer && i != correct_answer && question_answered
          }"
          style="font-size: 80%; padding: 20% 15%;"
          [disabled]="question_answered"
          (click)="on_answer(i)">
            {{option}}
          </button>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="phy-great-job" *ngIf="picked_answer == correct_answer"
        [ngClass]="{'dark-theme': themeService.isDarkTheme}">
          🥳 <em>Great job!</em> 🎉
      </div>
      <div class="phy-bad-job" *ngIf="picked_answer!=undefined && picked_answer !== correct_answer"
        [ngClass]="{'dark-theme': themeService.isDarkTheme}">
          <strong>68000 J</strong> was the right answer
      </div>
    </div>
  </div>
</ng-template>

<ng-template #page3>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-desc">
      To calculate the battery capacity in joules, we first find out the total energy delivered by the charger.
      <br><br>
      Since <strong>25 joules</strong> were delivered <strong>every second</strong> for <strong>40 minutes</strong>, the total energy would be:
      <div class="phy-equation">
        <div [mathjax]="energy_delivered"></div>
      </div>
      Given that <strong>88%</strong> of the battery was empty, we divide the total energy delivered by <strong>0.88</strong> to get the total capacity:
      <div class="phy-equation">
        <div [mathjax]="total_capacity"></div>
      </div>
      Rounding to the nearest thousand, we get:
      <div class="phy-equation">
        <div [mathjax]="total_capacity_2"></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #page4>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-desc">
      Confident with her estimate, Dionne conducts a thorough research on the mysterious unit named <strong>mAh</strong>.
      <div class="phy-equation">
        <span style="font-size: 200%;">👩🏻‍🎓📚</span>
      </div>
      Alas, she uncovers that there were <em>two ways</em> of quantifying a battery's capacity all along — 
      <br><strong>energy capacity</strong> and <strong>charge capacity</strong>.
      <br><br>
      Dionne's estimate of <strong>68000J</strong> was an approximation of the battery's <strong>energy capacity</strong>.
      <br><br>
      On the other hand, the battery rating of <strong>5000mAh</strong> was its <strong>charge capacity</strong>.
    </div>
  </div>
</ng-template>

<ng-template #page5>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-desc">
      Dionne learns that <strong>milliampere-hour (mAh)</strong> is a unit of <strong>electric charge</strong>, 
      and it is a metric used by battery manufacturers because it is approximately proportional to the duration a device can run on a single charge.
      <br><br>
      Though <strong>energy capacity (J)</strong> also serves a similar purpose, 
      rating a battery by <strong>charge capacity (mAh)</strong> allows consumers to deal with smaller numbers (<strong>5000mAh</strong> vs <strong>68000J</strong>), and it's been an industry standard for decades.
      <br><br>
      But after all this studying, Dionne is no closer to deriving energy capacity from charge capacity. The research continues...
      <div class="phy-equation">
        <span style="font-size: 200%;">🕵🏻‍♀️</span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #page6>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-desc">
      To convert <strong>mAh</strong> to <strong>J</strong>, Dionne found that she needed a firm understanding of the following topics:
      <ul>
        <li>Electric Current (A) and Charge (C)</li>
        <li>Electric Potential Difference (V)</li>
        <li>Electrical Work:
          <span class="phy-math-font">
            <em>W = QV</em>
          </span>
        </li>
        <li>Ohm's Law: 
          <span class="phy-math-font">
            <em>P = VI</em>
          </span>
        </li>
      </ul>
      After studying all these topics, Dionne devises a simple formula to convert <strong>mAh</strong> to <strong>J</strong>. 
      <br><br>
      It is her opinion that anyone wishing to <em>merely apply</em> this formula need not study the above topics, 
      but those wishing to <em>thoroughly grasp</em> the concept should certainly do so in their own time.
    </div>
  </div>
</ng-template>

<ng-template #page7a>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-desc">
      Given a charge capacity of <strong>5000mAh</strong> and a constant battery voltage of <strong>3.8V</strong> (typical of modern smartphones), Dionne's formula first derives power using <strong>Ohm's Law</strong>:
      <div class="phy-equation" style="flex-direction: column; line-height: 2;">
        <div [mathjax]="mah_power_1"></div>
        <div [mathjax]="mah_power_2"></div>
      </div>
      As she has assumed a discharge period of <br><strong>1 hour</strong>, she multiplies this power value by <strong>3600</strong> seconds:
      <div class="phy-equation">
        <div [mathjax]="mah_capacity"></div>
      </div>
      Dionne finally rests, satisfied with this value closely matching her estimate of <strong>68000J</strong>.
    </div>
  </div>
</ng-template>

<ng-template #page7b>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-desc">
      One <strong>ampere (A)</strong> represents an electric current carrying one <strong>coulomb (C)</strong> of electric charge per second, 
      where coulomb is the standard unit of electric charge.
      <br><br>
      Consequently, <strong>one milliampere-hour (mAh)</strong> is equivalent to the amount of electric charge accumulated by
      a <strong>one milliampere (mA)</strong> electric current running for <strong>one hour</strong>. 
      <div class="phy-equation" style="flex-direction: column; line-height: 2;">
        <div [mathjax]="ah_to_c"></div>
        <div [mathjax]="mah_to_c"></div>
      </div>
      Armed with this <strong>mAh</strong> to <strong>C</strong> conversion, Dionne simply multiplies <strong>electric charge (C)</strong> with <strong>voltage (V)</strong> to get <strong>energy capacity (J)</strong>.
    </div>
  </div>
</ng-template>

<ng-template #page8>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-desc">
      Given a charge capacity of <strong>5000mAh</strong> and a constant battery voltage of <strong>3.8V</strong> (typical of modern smartphones), Dionne's method first derives total electric charge:
      <div class="phy-equation" style="flex-direction: column; line-height: 2;">
        <div [mathjax]="mah_to_c_2"></div>
        <div [mathjax]="mah_to_c_3"></div>
      </div>
      To get <strong>energy capacity (J)</strong>, Dionne multiplies <strong>electric charge (C)</strong> by <strong>battery voltage (V)</strong>:
      <div class="phy-equation">
        <div [mathjax]="c_times_v"></div>
      </div>
      Satisfied with this value closely matching her estimate of <strong>68000J</strong>, Dionne finally rests for the night.
    </div>
  </div>
</ng-template>

<ng-template #page9>
  <div class="phy-content" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <div class="phy-intro-desc">
      In this chapter, we have learnt:
      <ul>
        <li><strong>mAh</strong> stands for <strong>milliampere-hour</strong>.</li>
        <li><strong>Coulomb (C)</strong> is the standard unit for <strong>electric charge</strong>.</li>
        <li><strong>1mAh</strong> is equivalent to <strong>3.6C</strong>.</li>
        <li>The battery voltage of smartphones is around <strong>3.8V</strong>.</li>
        <li>Energy capacity is electric charge multiplied by voltage.</li>
      </ul>
      In the next chapter <strong>"Unlimited Power!"</strong>, Dionne deciphers the puzzling unit of <strong>kWh</strong> and why it's plastered all over her utility bills. 
    </div>
  </div>
</ng-template>