<div class="train-content-container" [ngClass]="{'dark-theme': themeService.isDarkTheme}">

  <span class="train-stats f-merri" style="display: none;"
    [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    Tick: {{currentTick}}/{{ticks}}<br>
  </span>
  <div class="train-track" [ngClass]="{'dark-theme': themeService.isDarkTheme}"></div>
  <div class="train-station train-station-left" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <mat-icon class="train-station-logo" [ngClass]="{'dark-theme': themeService.isDarkTheme}">train</mat-icon>
  </div>
  <div class="train-station train-station-right" [ngClass]="{'dark-theme': themeService.isDarkTheme}">
    <mat-icon class="train-station-logo" [ngClass]="{'dark-theme': themeService.isDarkTheme}">train</mat-icon>
  </div>
  @for (car of cars; track car; let i = $index) {
    <div class="train-car f-merri" [id]="car.id"
      [ngStyle]="car_styles[car.id]"
      [ngClass]="{'dark-theme': themeService.isDarkTheme}">
      <span [ngStyle]="{transform: 'rotate('+(-car.rotation)+'rad)'}">{{i+1}}</span>
    </div>
  }

  <button mat-stroked-button
    class="train-button train-button-stroked f-merri train-speed-button"
    [ngClass]="{'dark-theme': themeService.isDarkTheme}"
    (click)="toggle_speed()" title="Toggle Speed">
    {{speed_multiplier}} x
  </button>
  <div class="spacer"></div>
  <button mat-stroked-button
    class="train-button train-button-stroked f-poppins train-replay-button"
    [ngClass]="{'dark-theme': themeService.isDarkTheme}"
    (click)="toggle_pause()" [title]="paused ? 'Play' : 'Pause' ">
    @if (!paused) {
      <mat-icon class="train-play-button">pause</mat-icon>
    }
    @if (paused) {
      <mat-icon class="train-play-button">play_arrow</mat-icon>
    }
  </button>

</div>
<mat-slider class="train-slider" min="0" [max]="ticks" style="display: none;">
  <input matSliderThumb [(ngModel)]="currentTick" (input)="apply_car_styles(); paused=true">
</mat-slider>